.lernov_courses {
  margin: auto;
  justify-content: space-evenly;
  margin-bottom: 10px;
  transition: 2s;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;
  border: 1px rgb(117, 110, 110);
}
.image {
  transition-duration: 1s;
  width: 250px;
  height: 300px;
  margin: auto;
  width: 100%;
}
.image:hover {
  border-radius: 0px !important;
  width: 100%;
  height: 200px;
  width: 290px;
  width: 100%;
}
.lernov_courses:hover {
  height: 300px;
  box-shadow: 15px 15px 20px 7px grey;
}
.webinar__info {
  line-height: 0.5;
  text-align: left;
  width: 80%;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
}
