.home {
  margin: 20px 0 30px 0;
  display: flex;
  width: 100%;
  /* border:1px solid; */
  font-family: "Oswald", sans-serif;
  justify-content: space-between;
}
.background-img {
  height: 700px;
  background-image: url("../resources/1\(headway\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
}
.background-img1 {
  height: 300px;
  background-image: url("../resources/3\(jaikishan-patel\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
}
.banner__info {
  color: rgb(159, 163, 154);
  box-shadow: 5px 8px 8px 0px #ccc2c2;
  margin-bottom: 20px;
  text-align: justify;
}
.lornov-feature {
  background-color: ghostwhite;
  width: 40%;
}

.home__table {
  margin-top: 30px;
  width: 100%;
  max-width: 100%;
  background-color: #f2f7f8;
  border-spacing: 0;
  border-color: rgb(213, 213, 218);
  border-width: 2px;
  text-align: center;
  border: white;
}
.home__table td {
  padding: 6px;
}
.row__header {
  background-color: #ffff;
}
.table_td0 {
  text-align: left;
}
.table_td1 {
  color: white;
  background-color: #6c6cf5;
}
.table_td2 {
  color: white;
  background-color: #8a8888;
}
.background-img h3,
.background-img p {
  margin-top: 20px;
  color: white;
}
.bg__button {
  color: white !important;
  background-color: blue !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  outline-width: 0 !important;
}
.lernov__events h1 {
  display: block !important;
}
